h1{
    text-align: center;
    margin-bottom: 50px;
    color: whitesmoke;
}

body{
    background-color: rgb(178, 191, 202);
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

.manipulacao{
    display: flex;
    justify-content: space-evenly;
}

.block{
    background-color: aliceblue;
    border-radius: 20px;
    padding: 100px;
    padding-top: 10px;
    padding-bottom: 50px;
}

.lista{
    text-align: center;
    margin: 150px auto 0px auto;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 100px;
    padding-top: 10px;
    max-width: 1060px;
}

input{
    border-radius: 15px;
    padding: 7px;
}

button{
    color: whitesmoke;
    border-radius: 15px;
    padding: 7px;
}

.adicionar{
    background-color: rgb(20, 143, 20);
}
.remover{
    background-color: rgb(143, 20, 20);
}

.listar{
    background-color: rgb(96, 107, 116);
}